:root {
    --text: black;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    overflow-x: hidden;
}

.content_all {
 height: 100vh;
 width: 100vw;
 background-image: url("assets/background.jpg");
 background-repeat: none;
 background-size: 100% 100%;
}


header{
 height: 70px;
 width: 100%;
 background-color: rgba(0, 0, 0, 0.6);
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding-left: 1rem;
 padding-right: 2rem;
 box-shadow: 2px 2px 3px white;
 border-radius: 0 0 20px 20px ;
 z-index: 100
}

.logo {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo p:nth-child(1) {
 color: Green;
 font-family:"Montserrat", Arial, Helvetica, sans-serif;
 text-shadow: 0 0 1px green;
 font-weight: bold;

}

.logo p:nth-child(2) {
   color: gold;
   font-family:"Montserrat", Arial, Helvetica, sans-serif;
   text-shadow: 0 0 1px gold;
   font-weight: bold;
}

header > button {
 height: 25px;
 width: 70px;
 background-color: white;
 border-radius: 8px;
 border: none;
 background-color: gold
}

main {
 height: calc(100vh - 70px);
 width: 100vw;
 display: grid;
 grid-template: 20% 40% 40% / 1fr;
}

.container_upperText {
 padding: 1rem;
 display: flex;
 align-items: center;
 justify-content: center;
}

.container_upperText > p {
 color: white;
 font-family: "Montserrat", Arial, Helvetica, sans-serif;
 font-weight: bold;
 font-size: 2.1rem;
}

.container_upperText > p span {
 color: gold;
 text-shadow: 0px 0px 4px  yellow;
 font-size: 2.3rem;
}

.container_logo {
 display: flex;
 align-items: center;
 justify-content: center;
}

.container_logo img {
    height: 100%;
}

.container_link {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: 15%;
}

.container_link > p {
  color: white;
 font-family: "Montserrat", Arial, Helvetica, sans-serif;
 font-weight: bold;
 font-size: 1.7rem;
}

.container_link > p span {
 color: limegreen;
 text-shadow: 0px 0px 2px  limegreen;
}

 @keyframes aniLink {
 0% {
    transform: scale(1);
    opacity: 0.9;
 }
 10% {
    transform: scale(1.02);
    opacity: 1
 }
 15% {
    transform: scale(1);
    opacity: 0.8;
 }
 20% {
    transform: scale(1.02);
    opacity: 1;
 }
 30% {
    transform: scale(1);
    opacity: 0.9;
 }
 100% {
    transform: scale(1);
    opacity: 0.8;
 }

} 

.container_link > div {
 height: 50px;
 width: 250px;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: limegreen;
 border-radius: 25px;
 box-shadow: 0px 0px 10px limegreen;
 color: white;
 will-change: transform opacity;
 animation: aniLink 3s ease-in-out infinite;
 animation-delay: 2s;
 opacity: 0.8;
 padding-right: 1.3rem;
 padding-left: 1.3rem;
}

.container_link > div a {
 color: white;
 text-decoration: none;
 font-family: "Montserrat", Arial, Helvetica, sans-serif;
 font-size: 1.1rem;
 font-weight: bold;
 flex: 1 0 auto;
}

.container_link > div svg {
    height: 25px;
    width: 25px;
}

.container_sair {
 position: absolute;
 top: 0;
 left: 0;
 height: 100vh;
 width: 100vw;
 background-color: rgba(0, 0, 0, 0.7);
 z-index: 50;
 opacity: 0;
 visibility: hidden;
}

.container_sobre {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 height: 500px;
 width: 370px;
 background-color: rgba(0, 0, 0, 0.6);
 border: 2px solid white;
 border-radius: 10px;
 z-index: 60;
 opacity: 0;
 visibility: hidden;
 transition: 0.3s ease;
 padding: 2rem;
 display: flex;
 align-items: center;
 justify-content: start;
 gap: 50px;
 flex-direction: column;
 overflow: visible;
}

.container_sobre > p {
 color: green;
 font-size: 2rem;
 font-family: "Montserrat", Arial, Helvetica, sans-serif;
 font-weight: bold;
 text-align: center;
 text-shadow: 0px 0px 5px green;
}

.container_sobre > p span {
 color: gold;
text-shadow: 0px 0px 5px gold;
}

.container_sobre ul {
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 font-size: 1.6rem;
 color: white;
 gap: 1rem;
 font-style: italic;
 padding: 1rem;
}

.visible {
 opacity: 1;
 visibility: visible;
}